h1{
    color:blueviolet, 
}
*{
    border:solid
}
.header{
    background-color: blueviolet;
display: flex;
justify-content: space-between;
}
.grid{
    background-color: crimson;
    display: flex;
    flex:wrap;
    justify-content: space-evenly;
}
